
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Poppins", serif;
}

#calendar-view {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  width: 18rem;
  height: 5rem;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  background: rgba(196, 195, 195, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#calendar-view:hover {
  background-color: rgba(36, 153, 199, 0.25);
}


.calendar-container .weeks-container .months-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 80%; /* Ajuste del ancho al 80% */
}

.calendar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
}

.day li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: rgba(196, 195, 195, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.date {
  font-size: 1rem;
  width: 5rem;
  height: 5rem;
  font-weight: 300;
  font-size: 1rem;
  box-sizing: border-box;
  background: rgba(196, 195, 195, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.date:hover {
  background: rgba(36, 153, 199, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.month {
  grid-column: span 7;
  font-weight: 800;
  margin-bottom: 1rem;
}

.day-header {
    font-weight: 500;
    background-color: rgba(94, 94, 94, 0.25);
    border-radius: 10px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }


.empty-day {
  visibility: hidden;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .infor {
    display: flex;
    border-collapse: collapse;
  }
  
  .modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

  .modal-content form {
    background-color: rgb(255, 255, 255);
    width: 20%;
    margin: 10px;
  }
  
  .modal-content form div {
    padding: 4px;
    display: flex;
    margin: 5px;
    align-items: center; 
    width: 100%;
    box-sizing: border-box;

  }

  .opState {
    flex-direction: column;
    background-color: #dedede;
    border-radius: 10px;
  }
  
  .cuadrosState {
    flex-direction: column;
    width: 60%;
  }
  
  .opTags {
    flex-direction: column;
    background-color: #dedede;
    border-radius: 10px;
  }
  
  .cuadrosTags {
    flex-direction: column;
  }
  
  .modal-content form button {
    display: block;
    margin: 0 auto;
  width: 70%;
  padding: 12px;
  font-size: 14px;
  }

  .modal-content table {
    border-collapse: collapse; 
    width: 80%;
  }
  
  .modal-content table thead th {
    padding: 10px;
    border: 1px solid rgb(126, 126, 126); 
  }
  
  .modal-content table tbody td {
    padding: 10px;
    border: 1px solid rgb(126, 126, 126); 
  }
  
  .fecha {
    background-color: #dedede;
    border-radius: 10px;
  }

  .intervalo {
    background-color: #dedede;
    border-radius: 10px;
  }

.modal-title-bar h2 {
    height: 80%;
}
  
  /* The Close Button */
  .close {
    margin: 5px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .create {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 5px;
  }

  .create:hover,
  .create:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  .modal-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    border-bottom: 1px solid #ccc
  }

  .tasks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    border: 1px solid #ccc;
    border-left: 10px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  .task-info {
      flex: 1;
  }
  .task-options {
      display: flex;
      align-items: center;
  }
  .task-options button {
      margin-left: 10px; 
      background-color: transparent;
      color: #aaa;
      border: none;
      cursor: pointer;
  }
  .task-options button :hover{
    color: black;
  }

.todo {
  display: flex;
}

.Botareas {
  
  width: 200px;
  
}

.Botareas button {
  width: 100%;
  height: 8%;
  margin-top: 10%;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  background: rgba(175, 175, 175, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.Botareas button:hover {
  background-color: rgba(36, 153, 199, 0.25);
  font-size: 18px;
  
}

#createTaskBtn {
  color: black;

}

.form_inputs {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    width: 100%;
}

label {
    font-size: 15px;
    margin-top: 0px;
}

#createTaskForm {
    width: 50%;
  }
  
#createTaskForm button {
  display: block; 
  margin: 0 auto;
  width: 30%;
  padding: 10px;
  font-size: 15px;
  }

#id_tags {
  width: 100%;
  padding: 8px;
}

#id_tags label {
  display: flex;
  align-items: center; 
}

#id_tags input {
  width: 15px;
}
