<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Compartir tarea</title>
  </head>
  <body>
    <div class="modal-title-bar">
      <h2>Compartir tarea: {{ task.title }}</h2>
      <span class="close">&times;</span>
    </div>
    <p>{{ task.description }}</p>
    <p>Fecha de vencimiento: {{ task.due_date }}</p>
    <p>Estado: {{ task.get_state_display }}</p>
    <p>Etiquetas: {{ task.tags.all|join:", " }}</p>

    <h3>Usuarios compartidos:</h3>
    <ul>
      {% for user in task.users.all %}
      <li>{{ user.username }}</li>
      {% endfor %}
    </ul>

    <button
      class="copyLinkBtn"
      data-task-id="{{ task.id }}"
      data-link="{{ domain }}{% url 'share_task_with_user' pk=task.pk %}"
    >
      Copiar Enlace
    </button>
  </body>
</html>
