<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static "eventhub/js/list.js" %}"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="modal-title-bar">
      <h2>Lista de Tareas</h2>
      <div class="actions">
        <span class="close">&times;</span>
      </div>
    </div>
    <div class="infor">
      <form method="get">
        <div class="opState">
          <label>State:</label>
          <div class="cuadrosState">
            {% for state in states %}
            <div class="checkbox-option">
              <input
                type="checkbox"
                id="state_{{ state.0 }}"
                name="state"
                value="{{ state.0 }}"
              />
              <label for="state_{{ state.0 }}">{{ state.1 }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="opTags">
          <label>Tags:</label>
          <div class="cuadrosTags">
            {% for tag in tags %}
            <div class="checkbox-option">
              <input
                type="checkbox"
                id="tag_{{ tag.id }}"
                name="tags"
                value="{{ tag.name }}"
              />
              <label for="tag_{{ tag.id }}">{{ tag.name }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="fecha">
          <label for="date_range">Date Range:</label>
          <select id="date_range" name="date_range">
            <option value="">All</option>
            <option value="today">Today</option>
            <option value="this_week">This Week</option>
            <option value="this_month">This Month</option>
          </select>
        </div>
        <div class="intervalo">
          <label for="date_interval">Date Interval:</label>
          <input type="date" id="date_interval" name="date_interval" />
        </div>
        <button id="apply-filters-btn" type="submit">Filter</button>
      </form>
      {% if object_list %}
      <ul class="task-container">
        {% for task in object_list %} {% if task.tags.all %}
        <li
          class="tasks"
          style="border-left: 10px solid {{ task.tags.first.color }};"
        >
          <div class="task-info">
            <strong>{{ task.title }}</strong><br />
            Descripción: {{ task.description }}<br />
            Fecha de vencimiento: {{ task.due_date }}<br />
            Tags:{% for tag in task.tags.all %}
            {{ tag.name }}
            {% if not forloop.last %},{% endif %}
            {% endfor %}
          </div>
          <div class="task-options">
            <button class="shareTaskBtn" data-task-id="{{ task.id }}">
              <i class="bx bxs-share"></i>
            </button>
            <button class="updateTaskBtn" data-task-id="{{ task.id }}">
              <i class="bx bxs-pencil"></i>
            </button>
            <button class="deleteTaskBtn" data-task-id="{{ task.id }}">
              <i class="bx bxs-trash-alt"></i>
            </button>
          </div>
        </li>
        {% else %}
        <li class="tasks">
          <div class="task-info">
            <strong>{{ task.title }}</strong><br />
            Descripción: {{ task.description }}<br />
            Fecha de vencimiento: {{ task.due_date }}
          </div>
          <div class="task-options">
            <button class="shareTaskBtn" data-task-id="{{ task.id }}">
              <i class="bx bxs-share"></i>
            </button>
            <button class="updateTaskBtn" data-task-id="{{ task.id }}">
              <i class="bx bxs-pencil"></i>
            </button>
            <button class="deleteTaskBtn" data-task-id="{{ task.id }}">
              <i class="bx bxs-trash-alt"></i>
            </button>
          </div>
        </li>
        {% endif %} {% endfor %}
        <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
              <a class="pagination-link" href="{% url 'task_list' %}?page=1">&laquo; first</a>
              <a class="pagination-link" href="{% url 'task_list' %}?page={{ page_obj.previous_page_number }}">previous</a>

              {% endif %}
      
              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
              <a class="pagination-link" href="{% url 'task_list' %}?page={{ page_obj.next_page_number }}">next</a>
              <a class="pagination-link" href="{% url 'task_list' %}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
        </div>
      </ul>
      {% else %}
      <p>No hay tareas para hoy</p>
      {% endif %}
    </div>
  </body>
</html>
